<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Admin Dashboard</title>
  </head>

  <body>
    <div>
      <h1 class="text-center">Admin Dashboard</h1>
      <div class="right">
        <a href="/admin/logout"
          ><h3 style="color: red; cursor: pointer; margin-right: 20">
            Logout
          </h3></a
        >
      </div>
      <div class="optionsCont">
        <button
          onclick="window.location.href='/admin/giftcoins'"
          type="button"
          class="btn btn-success"
        >
          <h3>Gift Coins</h3>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          onclick="window.location.href='/admin/giftgems'"
        >
          <h3>Gift Gems</h3>
        </button>
        <button
          onclick="window.location.href='/admin/giftcloth'"
          type="button"
          class="btn btn-warning"
        >
          <h3>Gift Clothes</h3>
        </button>
        <button
          onclick="window.location.href='/admin/giftcharacter'"
          type="button"
          class="btn btn-success"
        >
          <h3>Gift Characters</h3>
        </button>
        <button
          onclick="window.location.href='/admin/giftemote'"
          type="button"
          class="btn btn-danger"
        >
          <h3>Gift Emotes</h3>
        </button>
        <button
          type="button"
          onclick="window.location.href='/admin/giftpet'"
          class="btn btn-warning"
        >
          <h3>Gift Pets</h3>
        </button>
        <button
          onclick="window.location.href='/admin/giftpetemote'"
          type="button"
          class="btn btn-success"
        >
          <h3>Gift Pet Emotes</h3>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          onclick="window.location.href='/admin/toggleMaintainance'; alert('Maintainance Togggled')"
        >
          <h4>Toggle Maintanance</h4>
        </button>
        <button
          type="button"
          class="btn btn-warning"
          onclick="window.location.href='/admin/ban'"
        >
          <h3>Ban User</h3>
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="window.location.href='/admin/unban'"
        >
          <h3>Unban User</h3>
        </button>
        <button
          onclick="window.location.href='/admin/leaderboard'"
          type="button"
          class="btn btn-danger"
        >
          <h3>Leaderboard</h3>
        </button>
        <button
          onclick="window.location.href='/admin/viewFeedbacks'"
          type="button"
          class="btn btn-warning"
        >
          <h3>View Feedbacks</h3>
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="window.location.href='/admin/message'"
        >
          <h3>Send Message</h3>
        </button>
      </div>
    </div>
  </body>
</html>
